.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: black;
    color: blue;
    text-align: center;
    font-size: large;
    
}

.metanav {
    font-size: large;
    color: blue;
    text-align: left;
    float: right;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#scrolling-images {
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

#footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  text-align: center;
}

.left-menu {
    font-size: large;
    float: left;
    height: 100%;
    width: 15%;
}

.afterparties {
    width: 40%;
    margin: 0 auto;
}


.center {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
}

.flash { 
    font-size: large;
    text-align: center;
    background: #cee5F5; 
    padding: 0.5em;
    border: 1px solid #aacbe2;
}
.error {
    background: #f0d6d6;
    padding: 0.5em; 
}

.btn {
    background-color: #0562F8;
    color: black;
    float: right;
    margin-right: 7px;
}

#content {
    margin-bottom: 80px;
}    

#locations {
    height: 100%;
    margin-left: 20px;
}

#map-canvas {
    width: 80%;
    height: 400px;
    margin: 0 auto;
}