.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: black;
    color: blue;
    text-align: center;
    
}

.metanav {
    color: blue;
    text-align: left;
    float: right;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
}

.left-menu {
    font-size: 12;
    float: left;
    height: 100%;
    width: 15%;
}

.afterparties {
    margin: 0 auto;
    width: 50%;
}
.scrolling-images {
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

.center {
    width: 22%;
    margin: 0 auto;
}


.flash { 
    background: #cee5F5; 
    padding: 0.5em;
    border: 1px solid #aacbe2;
}
.error {
    background: #f0d6d6;
    padding: 0.5em; 
}

.btn {
    background-color: #0562F8;
    color: black;
}

