{% extends "layout.html" %}
{% block body %}
<div class="container-fluid afterparties">
  <form role="form" action="{{ url_for('add_after_party') }}" method=POST>
    <div class="form-group">
      <label>Location:</label>
      <input class="form-control" type=text name=location required>
    </div>
    <div class="form-group">
      <label>Date and time (mm/dd/yyyy hh:mm am/pm):</label>
      <input class="form-control" type=text name=date required>
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" name=description rows=10 cols=40 required></textarea>
    </div>
    <button class="btn" type=submit>Add</button>
  </form>
</div>
{% endblock %}
