{% extends "layout.html" %}
{% block body %}
<section id='buyad'>
  <h1>Buy an OTG Ad</h1>
  <a id='choose-location' href="{{ url_for('find_locations') }}">Choose by location</a><br>
  <form class='simple-form' action="{{ url_for('buy_ad') }}" method=POST>
  <div id='budget'>
    <h3>Budget:</h3>
    <input type='number' min='0' name=budget ></input>
  </div>
  
  
  <div id='location'>
    <h3>Location:</h3>
    <select id='location-value' name=location>
      <option></option>
      {% for location in locations %}
      <option value="{{ location.name }}">{{ location.name }}</option>
      {% endfor %}
    </select>
  </div>
  
  <div id='ad-type'>
    <h3>Type of ad:</h3>
    <input type='text' name=adtype></input>
  </div>
  </br>
  <div id='buy'>
    <input type='submit' id='buy-button' value='Send'</input>
  </div>
  </form>
  <div class='text-center'>
    <h3>View menu of services</h3>
    <img "/static/buyad/img/menu.jpg"/>
  </div>
  
</section>
{% endblock %}
