{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <h3>Buy an OTG Ad</h3>
  <a href="{{ url_for('find_locations') }}">Choose by location</a><br>
  <form role="form" action="{{ url_for('buy_ad') }}" method=POST>
    <div class="row">
      <div class="form-group col-md-2">
	<label>Budget:</label>
	<input class="form-control" type='number' min='0' name=budget ></input>
      </div>
      <div class="form-group col-md-2">
	<label>Location:</label>
	<select class="form-control" name=location>
	  <option></option>
	  {% for location in locations %}
	  <option value="{{ location.name }}">{{ location.name }}</option>
	  {% endfor %}
	</select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-2">
	<label>Type of ad:</label>
	<input class="form-control" type='text' name=adtype></input>
      </div>
    </div>
    <button class="btn col-md-2" type='submit'>Send</button>
  </form>

  <div class='text-center menu'>
    <br>
    <h3>View menu of services</h3>
    <img  src="{{ url_for('static', filename='buyad/menu.jpg') }}"/>
  </div>
<div>
{% endblock %}
