<!doctype html>
<head>
  <title>Off The Grid Advertising</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <link rel=stylesheet type=text/css href="/static/style.css">
  <link rel=stylesheet href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel=stylesheet href="/static/bootstrap-3.3.4-dist/css/bootstrap-theme.css">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body>
  <nav role="navigation" class="navbar">
    <div class="container-fluid">
      <h1>Off The Grid Advertising</h1>
      {% if session.logged_in %}
      <ul class="nav navbar-right">
	<li role="presentation" class="dropdown">
	  Signed in as <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">{{ session.username }} <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="{{ url_for('account') }}">My Account</a></li>
	    <li><a href="{{ url_for('logout') }}">Log out</a></li>
	  </ul>
	</li>
      </ul>
      {% endif %}
      <ul class="nav nav-justified">
	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('find_locations') }}">Find location</a></li>
	<li><a href="{{ url_for('book_event') }}">Book Event</a></li>
	<li><a href="{{ url_for('buy_ad') }}">Buy Ad</a></li>
	<li><a href="{{ url_for('after_party') }}">Where's the after party</a></li>
      </ul>
    </div>
  </nav>

  
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
  <div id="content">
    {% block body %}{% endblock %}
  </div>
  <footer id="footer">
    <p>&copy 2015 www.offthegridadvertising.com All rights reserved</p>
  </footer>
</body>
</html>
