{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <h3>Login</h3>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form role="form" action="{{ url_for('login') }}" method=post>
      <div class="row">
	<div class="form-group col-sm-3 ">
	  <label>Username:</label>
	  <input class="form-control" type=text name=username required>
	</div>
      </div>
      <div class="row">
	<div class="form-group col-sm-3">
	  <label>Password:</label>
	  <input class="form-control" type=password name=password required>
	</div>
      </div>
      <div class="row">
	<button class="btn col-sm-2" type="submit">Login</button>
	<br>
	<br>
      </div>
      <div class="row">
	<a href="{{ url_for('signup') }}">Sign up</a> |
	<a href="{{ url_for('forgot_password') }}">Forgot username or password</a>
      </div>
    </form>
</div>
{% endblock %}

	
