{% extends "layout.html" %}
{% block body %}
<div class=left-menu>
  <a href="{{ url_for('add_after_party') }}">Add after party</a><br>
  <a href="{{ url_for('edit_after_parties') }}">My after parties</a><br>
</div>
<div class=afterparties>
  {% for afterparty in afterparties %}
  <form action="{{ url_for('edit_after_parties') }}" method=POST>
    <label>Location:</label>
    <input type=text name=location value="{{ afterparty.location }}" required><br>
    <label>Date:</label>
    <input type=text name=date value="{{ afterparty.date }}" required><br>
    <label>Description:</label><br>
    <textarea name=description rows=10 cols=40 required>{{ afterparty.description }}</textarea><br>
    <input type=hidden name=_id value={{ afterparty._id }}>
    <input type=submit name=update value=Update>
    <input type=submit name=delete value=Delete>
    <hr>
  </form>
  {% else %}
  <h3>No after parties yet</h3>
  {% endfor %}
</div>
{% endblock %}
