{% extends "layout.html" %}
{% block body %}
<div class="left-menu">
  <a href="{{ url_for('add_after_party') }}">Add after party</a><br>
  <a href="{{ url_for('edit_after_parties') }}">My after parties</a><br>
</div>
<div class="container-fluid afterparties">
  {% for afterparty in afterparties %}
  <form role="form" action="{{ url_for('edit_after_parties') }}" method="POST">
    <div "form-group">
      <label>Location:</label>
      <input class="form-control" type="text" name="location" value="{{ afterparty.location }}" required>
    </div>
    <div class="form-group">
      <label>Date and start time (mm/dd/yyyy hh:mm am/pm):</label>
      <input class="form-control" type="text" name="date" pattern="\d{2}/\d{2}/\d{4} \d{2}:\d{2} (am|pm)" value="{{ afterparty.date }}" required>
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" name="description" rows="10" cols="40" required>{{ afterparty.description }}</textarea>
    </div>
    <input type="hidden" name="_id" value="{{ afterparty._id }}">
    <button class="btn" type="submit" name="delete">Delete</button>
    <button class="btn" type="submit" name="update">Update</button>
    <br>
    <br>
  </form>
  {% else %}
  <h3>No after parties yet</h3>
  {% endfor %}
</div>
{% endblock %}
