{% extends "layout.html" %}
{% block body %}
<div class="center">
  <h2>Sign up</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('signup') }}" method=post>
      <dl>
	<dt>Username:</dt>
	<dd><input type=text name=username required></dd>
	<dt>Password:</dt>
	<dd><input type=password name=password1 required></dd>
	<dt>Re-type Password:</dt>
	<dd><input type=password name=password2 required></dd>
	<dt>Email:</dt>
	<dd><input type=text name=email required></dd>
	<dd><input type=submit value="Sign up"></dd>
      </dl>
    </form>
</div>
{% endblock %}
